body{--back: #080808;
    --text: #f0f0f0;
    --color: #15c405;
    --shadow: #404040;
    --details: #15c40510;
    font-family: 'Space Grotesk', sans-serif}
a{font-weight: bold;}
h1{text-decoration: underline var(--color) min(3px, 1vw); text-shadow: none}
h1, h2{font-family: 'Space Grotesk', sans-serif}
h1:before{content: "> "; color: var(--color)}
h2:before{content: "- "; color: var(--color)}