body {
  background-color: #f0f0f0;
  color: #404040;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  margin: 0px;
  font-size: large}

.main{
  max-width: 650px;
  padding: 20px 40px;
  border-left: solid #a0a0a0 2px;
  border-right: solid #a0a0a0 2px;
  margin: 0 auto;
  line-height: 1.5;}

.back{padding-top:0}

h1{
  margin: 0;
  font-weight: bold;
  font-size: xxx-large}

a{color: #404040}
a:hover{background-color: #404040; color: #f0f0f0; text-decoration-color: #404040;}

ul {list-style-type: "└ ";}
p, ul{line-height: 1.4; margin-bottom: 0}