body{
    background-color: #1a1c1e;
    color: #e3e2e6;
    font-family: 'Inter', sans-serif;
    margin: 0
}

.page{width: min(600px, calc(100vw - 32px));
    margin: 16px auto;}

p{
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
    letter-spacing: 0.015625rem;
}

h1{
    font-weight: 800;
    line-height: 3.25rem;
    font-size: 2.8125rem;
    margin-top: 0;
}

p, h2, h1{
    margin: 20px 0
}

a{
    color: #e3e2e6; text-decoration: none
}

.list{
    max-width: 360px;
    margin: 0 auto;
    padding: 0 12px
}

.list a{
    font-weight: 500;
    line-height: 1.25rem;
    font-size: 0.875rem;
    letter-spacing: 0.00625rem;
    color: #c3c6cf;

    display: flex;
    height: 56px;
    align-items: center;
    padding-left: 16px;
}

.list a:hover{
    background-color: #ffd8e814;
    color: #ffd8e8;
    border-radius: 28px
}

.material-symbols-outlined{
    font-size: 24px;
    padding-right: 12px
}