body {
  padding-left: 50px;
  background-color: #fafbff;
  color: #080808;
  font-family: 'Libre Baskerville', serif;
}
a{font-weight: bold; color:#9b9dac;font-style: italic;}
a::after{content: "}"; color: #9b9dac;}
a::before{content: "{"; color: #9b9dac;}
h1{font-style: italic;
font-size: xxx-large;}
h1::after{content: "}"; color: #9b9dac;}
h1::before{content: "{"; color: #9b9dac;}
h2{font-style: italic;
  font-size: xx-large;}
h2::before{content: "- "; color: #9b9dac;}
p{max-width: 750px;}