body {
  background-color: #080808;
  color: #F0F0F0;
  @import url('https://fonts.googleapis.com/css2?family=Inter');
  font-family: 'Inter', sans-serif;
}
.container{
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: solid #F0F0F0 2px;
  border-radius: 30px;
  line-height: 1.5;
}
h1{
  margin: 0px;
  font-weight: bold;
  font-style: italic;
}
ul {
    list-style-type: "↳ ";
}