body{background-color: var(--back); color: var(--text);
    font-size: 1.0625rem;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    min-height: 100vh;}

::selection{background-color: var(--color); color: var(--back)}

.main, .top{max-width: 40rem; padding-top: 16px;
    margin: 0 max(min(10rem, calc((100vw - 40rem) / 2)), 24px);
    }

.top{background-color: var(--back); position: sticky; top: 0; padding-bottom: 16px;
border-bottom: solid var(--text) 1px; box-shadow: 0 5px 5px var(--back);}

h1, h2{font-family: 'Inconsolata', monospace;}
h1{margin: 0; text-shadow: var(--shadow) 3px 3px; font-size: min(10vw, 3rem)}
h2{font-size: 1.25rem; margin-bottom: 0}

ul{padding-left: 20px; list-style-type: "- "; margin: 8px 0 16px}

p{max-width: 40rem; line-height: 1.3; margin: 0}

a{color: var(--text); text-decoration-color: var(--color);}
a:hover{color: var(--color)}

summary{font-weight: bold;}

details{padding: 8px 16px; background-color: var(--details); 
    border: solid 1px var(--shadow); width: fit-content}

details[open] summary ~ * {
animation: sweep .5s cubic-bezier(.08,.82,.17,1);
}
details[open] summary{
    border-bottom: dashed 1px var(--shadow); padding-bottom: 8px; margin-bottom: 8px
}

@keyframes sweep {
from {opacity: 0; transform: translateY(-0.5rem);}
to   {opacity: 1; transform: translateY(0)}
}