body {
  background-color: #080808;
  color: #F0F0F0;
  font-family: 'Inter', sans-serif;
}
.container{
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: solid #F0F0F0 2px;
  border-radius: 30px;
  line-height: 1.5;
}
.centered-container{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  padding: 20px;
  border: solid #F0F0F0 2px;
  border-radius: 30px;
  line-height: 1.5;}
a{color: #F0F0F0;}
a:hover{
  background: #F0F0F0;
  color: #080808;
  text-decoration-color: #F0F0F0;
}
a.discord{color:#303eff;}
a.discord:hover{
  background: #303eff;
  color: #080808;
  text-decoration-color: #303eff;
}
a.bandcamp{color: #00a2ff;}
a.bandcamp:hover{
  background: #00a2ff;
  color: #080808;
  text-decoration-color: #00a2ff;
}
a.spotify{color: #00FF00;}
a.spotify:hover{
  background: #00FF00;
  color: #080808;
  text-decoration-color: #00FF00;
}
a.youtube{color: #FF0000;}
a.youtube:hover{
  background: #FF0000;
  color: #080808;
  text-decoration-color: #FF0000;
}
h1{
  margin: 0px;
  font-weight: bold;
  font-style: italic;
}
ul {list-style-type: "↳ ";}