body {
  background-color: #080808;
  color: #F0F0F0;
  font-family: 'Roboto Serif', serif;
}
b{
  font-weight: 800;
  font-style: italic;
}
.container{
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: dashed #F0F0F0 2px;
  line-height: 1.5;}
.centered-container{
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  padding: 20px;
  border: dashed #F0F0F0 2px;
  line-height: 1.5;}
a{color: #F0F0F0; font-weight: bold;}
a:hover{
  background: #F0F0F0; font-weight: bold;
  color: #080808;
  text-decoration-color: #F0F0F0;
}
h1{
  text-align: right;
  margin: 0px;
  font-weight: bold;
  font-style: italic;
}
ul {list-style-type: "↳ ";}
hr{
  border: 0;
  border-top: 2px solid #F0F0F0;
  width: 50%;
}