@font-face {
    font-family: 'c059';
    font-weight: normal;
    src: url(../assets/C059-Roman.otf);
}
@font-face {
    font-family: 'c059';
    font-weight: bold;
    src: url(../assets/C059-BdIta.otf);
}

body{font-family: 'Source Serif 4', serif;
line-height: 1.3}
h1::before{content:'{'; color: var(--color)}
h1::after{content:'}'; color: var(--color)}
h1{margin-bottom: 8px}

.image{break-inside: avoid;}
.image img{width: 100%;
outline:solid var(--color) 1px; outline-offset: -1px;}
.image p{margin: 0 0 8px; color: var(--color)}
#drawings{column-count: 2; column-gap: 16px; margin-top: 20px}
@media only screen and (min-width: 500px){
    #drawings{column-count: 3;}}
