body {
  background-color: #fafbff;
  color: #080808;
  font-family: 'Crimson Pro', serif;
  line-height: 1.5;
  display: flex; 
  flex-direction: row; 
  margin: 0px;
  font-size: large}
a{font-weight: bold; color: #080808; text-decoration-color:#5d5e6c;font-style: italic; text-decoration-thickness: 2px;}
a:hover{text-decoration-color:#080808;}
a.button::after, a.button::before{content:""}
h1{font-style: italic;
font-size: xxx-large;}
h2{font-style: italic;
  font-size: xx-large;}
h2::before{content: "- "; color: #9b9dac;}
p{max-width: 750px;}
nav{padding: 0px; 
  min-height: 100vh; 
  margin-right: 50px;
  padding-left: 20px;
  position: fixed;
  width: 150px}
.main{margin-left: 200px}
#drawings{line-height:0; column-count: 3; column-gap: 12px; max-width: 700px; margin-top: 20px}
#drawings img{margin-bottom: 6px; width: 100%}
#drawings img:hover{transform: scale(125%)}