@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../../assets/Hanken_Grotesk_Regular.ttf);
}

body{--back: black; --backtrans: 50%;
    --text: white;
    --color: deeppink;
    font-family: 'Hanken Grotesk', sans-serif}

h1, h2, b{font-weight: 700;}
h2{margin: 0 0 8px; display: inline; font-size: 1em}
h3::before{content: "- "; color: var(--color)}
h3{margin: 0 0 8px}

::selection{background-color: var(--color)}
details{border-color: grey}
details:hover, details[open]{border-color: var(--color)}
details[open]> ::selection{background-color: var(--color); color: var(--back);}

.subcategory{border: none; border-bottom: solid 1px var(--color);margin: 0 0 0 18px;
width: 100%; padding: 16px 0 18px}
.subcategory > summary{list-style-position: outside; font-size: 1.5rem;
    text-decoration: underline 2px var(--color)}
.subcategory > summary h2{transition: all .5s cubic-bezier(0,1,0,1)}
.subcategory:hover, .subcategory[open]{background-color: black;
    color: white}
.subcategory:hover > summary h2, 
.subcategory[open] > summary h2{color: var(--color);}
details[open] > summary, summary{list-style-type: revert;}
.subcategory a{color: white}

.font{border: dotted 1px var(--color); padding: 12px 12px; 
    border-radius: 12px; margin: 16px 0; width: fit-content}
.font img{width: 100%}

details a:hover{background-color: var(--back); color: var(--color)}
a.back{display: block;
    width: fit-content;
    padding: 4px 6px;
    margin: 8px 0;
    border: solid 1px var(--color);
    text-decoration: none;}
a.back:hover{background-color: var(--color); color: var(--back)}