body{--back: #080808;
--text: #f0f0f0;
--color: #498cff;
--shadow: #404040}
.image{display:grid; grid-template-columns: 50% calc(50% - 16px); gap: 16px}
img{max-width: 100%}

@media only screen and (max-width: 500px) {
    .image{display: block}
}