body{--black: #080808;
     --grey:  #444;
     --white: #f0f0f0;
     background-color: var(--black); color: var(--white);
     font-size: 1.0625rem;
     font-family: 'Work Sans', sans-serif;
     margin: 0}

::selection{background-color: var(--white); color: var(--black)}

.main{max-width: 40rem;
     margin: 16px max(calc((100vw - 40rem) / 2), 24px) 24px}

img{width: 100%; margin-bottom: 4px}
.sub{margin:0 0 16px}

h1{margin: 0}

ul{padding-left: 20px; list-style-type: "- "; margin: 8px 0 16px}

p{max-width: 40rem}

a{color: var(--white); }
a:hover{background-color: var(--white); color: var(--black);
text-decoration-color: var(--white)}

summary{font-weight: bold;}

details[open] summary ~ * {
animation: sweep .5s cubic-bezier(.08,.82,.17,1);
}

@keyframes sweep {
from {opacity: 0; transform: translateY(-0.5rem)}
to   {opacity: 1; transform: translateY(0)}
}
     
