body {
  padding-left: 50px;
  background-color: #fafbff;
  color: #080808;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  display: flex; 
  flex-direction: row; 
  margin: 0px;
  font-size: large}
a{font-weight: bold; color:#5d5e6c;font-style: italic;}
a:hover{font-weight: bold; color:#080808;font-style: italic;}
h1{font-style: italic;
font-size: xxx-large;}
h2{font-style: italic;
  font-size: xx-large;}
h2::before{content: "- "; color: #9b9dac;}
p{max-width: 750px;}
nav{padding: 0px; 
  background-color:#202020; 
  min-height: 100vh; 
  border-right: solid #f0f0f0 2px; 
  margin-right: 50px;
  position: fixed;
  width: 150px}
.main{margin-left: 200px}