body {
  background-color: #000000;
  color: #ffa900;
  font-family: 'IBM Plex Mono', sans-serif;
  line-height: 1.5;
  display: flex; 
  flex-direction: row; 
  margin: 0px;
  font-size: large}

a{color: #ffa900; font-weight: bold; font-style: italic; text-decoration-color: #a87000; text-decoration-thickness: 2px;}
a:hover{text-decoration-color: #ffa900}

h1{
  margin: 0px;
  font-weight: bold;
  font-size: xxx-large; 
  font-style: normal; 
  margin-top: 20px; 
  text-shadow: #543800 4px 4px}
ul {list-style-type: "↳ ";}
p, ul{max-width: 750px; line-height: 1.5;}

nav{padding: 0px; 
  min-height: 100vh; 
  margin-right: 50px;
  padding-left: 20px;
  position: fixed;
  width: 150px}

.main{margin-left: 200px}