body {padding-left: 50px;
  background-color: #080808;
  color: #f0f0f0;
  font-family: 'Space Grotesk', sans-serif;}
ul{line-height: 1.5;}
a{font-weight: bold; 
  color:#f0f0f0;
  font-style: italic;
  text-decoration-color: #808080;
  text-decoration-thickness: 2px;}
a:hover{color: #15c405;
  text-decoration-color: #15c405;}
h1{font-size: xxx-large;
  text-decoration: underline;
  text-decoration-color: #15c405;
  text-decoration-thickness: 5px;}
h1:before{content: "> ";color: #15c405}
ul{list-style-type: "> ";}
h2{font-size: xx-large;}
h2:before{content: "- "; color: #15c405;}
ul, p{max-width: 750px;}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(4, 4, 4, 0.04) 50%, rgba(0, 0, 0, 0.34) 50%);
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;}