/* Desktop (width > 600px) */
body{
/* Colors */
--white:      #f0f0f0;
--black:  #202020;
--light-gray: #a0a0a0;

background-color: var(--white);
color: var(--black);

font-family: 'Work Sans', sans-serif;
font-size: 1rem;
line-height: 1.2;

display: flex;
margin: 0;
min-height: 100vh
}

h1{font-size: min(7.2vw, 3rem); margin: 8px 0 16px}

ul{padding-left: 20px; list-style-type: "- "}

a{color: var(--black); 
  transition: all 0.2s cubic-bezier(.08,.82,.17,1)}
a:hover{background-color: var(--black); color: var(--white);
text-decoration-color: var(--black)}

details[open] summary ~ * {
  animation: sweep .5s cubic-bezier(.08,.82,.17,1);
}

@keyframes sweep {
  from {opacity: 0; transform: translateY(-0.5rem)}
  to   {opacity: 1; transform: translateY(0)}
}

@media only screen and (max-width: 800px) {
  body{width: min(calc(100vw - 48px), 35rem); 
      display: block;
      padding: 16px;
      margin: 0 auto;
      min-height: 100vh}
}
