body {
  background-color: #080808;
  color: #F0F0F0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  display: flex; 
  flex-direction: row; 
  margin: 0px}
a{color: #f0f0f0; font-weight: bold; text-decoration-thickness: 2px;}

a:hover{
  background: #F0F0F0;
  font-weight: bold;
  color: #080808;
  text-decoration-color: #F0F0F0;}
h1{
  margin: 0px;
  font-weight: bold;
  font-size: xxx-large; 
  font-style: normal; 
  margin-top: 20px}
ul {list-style-type: "↳ ";
  font-size: larger}
nav, p{font-size: larger;}
p, ul{max-width: 500px; line-height: 1.5;}
nav{padding: 0px; 
  min-height: 100vh; 
  border-right: dashed #f0f0f0 2px; 
  margin-right: 50px;
  position: fixed;
  width: 150px}
hr{color: #f0f0f0}
.main{margin-left: 200px}